html {
    font-size: 10px;
}

body {
    font-family: "Roboto", Arial, "Helvetica Neue", Helvetica, sans-serif;
    margin: 0;
}

.wrapper {
    margin: 0 auto;
    max-width: 70%;
}

h1 {
    margin: 50px 0 0;
    color: #1f222c;
    font: 700 3.0rem "Roboto Slab";
    text-align: center;
}

h2 {
    margin: 0 0 25px;
    letter-spacing: 0px;
    color: #b3b3b3;
    font: 700 2.0rem "Roboto Slab";
    text-transform: uppercase;
}

form {
    padding: 50px 0;
}

hr {
    margin: 0;
    height: 1px;
    border: none;
    background-color: #dcdcde;
}

.flex {
    display: flex;
}

.flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form-1 p,
.form-1 div {
    max-width: 330px;
}

.row {
    padding: 13px 15px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 3px;
}

[type="date"] {
    padding: 10px 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

form p {
    margin: 10px 0;
}

input,
select,
textarea {
    outline: none;
    box-sizing: border-box;
}

label,
input,
select,
textarea {
    color: #1f222c;
    font: 400 1.4rem "Roboto";
}

::placeholder {
    color: #b3b3b3;
    font-size: 1.4rem;
}

.sel select {
    -webkit-appearance: none;
    appearance: none;
    position: relative;
    width: 100%;
    background-color: transparent;
}

.sel {
    position: relative;
    display: inline-block;
    width: 100%;
    background-color: #fff;
}

.sel:before {
    content: "";
    position: absolute;
    top: 20px;
    right: 15px;
    border: 5px solid transparent;
    border-top-color: #1f222c;
    z-index: 0;
}

textarea {
    vertical-align: bottom;
    resize: vertical;
    min-height: 130px;
    max-height: 400px;
}

.enter:focus,
.enter:hover {
    border: 1px solid #3e6aff;
    box-shadow: 0 0 2.5px rgba(62, 106, 255, 0.55);
}

[type="submit"] {
    color: #fff;
    font: 700 1.4rem"Roboto";
    text-align: center;
    background-color: #12d661;
    border: none;
}

[type="submit"]:hover {
    box-shadow: 0px 2px 2.5px rgba(8, 118, 52, 0.35);
    background-color: #07be51;
    cursor: url(../img/cursor-pointer.png), auto;
}

.form-2 .flex-between {
    align-items: start;
    padding-top: 10px;
}

.mb14 {
    margin: 0 0 14px;
}

input:disabled+label {
    color: #b3b3b3;
}

fieldset {
    padding: 15px 20px 20px;
    background-color: #f7f7f7;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
}

fieldset p {
    display: inline-block;
    min-width: 70px;
    color: #b3b3b3;
    font: 700 1.4rem "Roboto";
}

fieldset label:not(:last-child) {
    margin-right: 25px;
}

[type="checkbox"],
[type="radio"] {
    display: none;
}

.check+label,
.radio+label {
    position: relative;
    padding-left: 26px;
}

.check+label:before,
.check+label:after,
.radio+label:before,
.radio+label:after {
    content: "";
    position: absolute;
}

.check+label:before,
.radio+label:before {
    top: -1px;
    left: 0;
    width: 16px;
    height: 16px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.check:checked+label:before {
    border-color: #3e6aff;
}

.check:checked+label:after {
    top: 4px;
    left: 5px;
    width: 7px;
    height: 4px;
    border-left: 2px solid #244dd7;
    border-bottom: 2px solid #244dd7;
    transform: rotate(-45deg);
}

.radio+label:before {
    width: 15px;
    height: 15px;
    border-radius: 50%;
}

.radio:checked+label:before {
    border-color: #3e6aff;
}

.radio:checked+label:after {
    top: 4px;
    left: 5px;
    width: 7px;
    height: 7px;
    background-color: #3e6aff;
    border-radius: 50%;
}

.check:disabled+label:before,
.radio:disabled+label:before {
    background-color: #f7f7f7;
    border-color: #e5e5e5;
}

.form-3 {
    max-width: 680px;
}

.form-3 label {
    display: block;
}

.sex label {
    font: 700 1.6rem "Roboto";
}

.sex-ico+label {
    position: relative;
    padding: 30px 15px 30px 85px;
}

.sex-ico+label:before,
.task-ico+label:before,
.task-ico+label:after {
    content: "";
    position: absolute;
}

.sex-ico+label:before {
    top: 3px;
    left: -6px;
    width: 70px;
    height: 70px;
    border: 2px solid #fff;
}

.sex-male+label:before {
    background: url(../img/male-off.png) no-repeat;
}

.sex-male:checked+label:before {
    background: url(../img/male-on.png) no-repeat;
}

.sex-female+label:before {
    background: url(../img/female-off.png) no-repeat;
}

.sex-female:checked+label:before {
    background: url(../img/female-on.png) no-repeat;
}

.sex-ico+label:hover,
.sex-ico:checked+label,
.task-ico+label:hover,
.task-ico:checked+label {
    color: #3e6aff;
}

.task-ico+label {
    position: relative;
    padding: 15px 15px 15px 60px;
}

.task-ico+label:before {
    width: 45px;
    height: 25px;
    top: 11px;
    left: 0;
    background-color: #cfcfd1;
    border-radius: 12px;
}

.task-ico+label:after {
    width: 21px;
    height: 21px;
    top: 13px;
    left: 2px;
    background-color: #fff;
    border-radius: 50%;
}

.task-ico:checked+label:before {
    background-color: #3e6aff;
}

.task-ico:checked+label:after {
    left: 22px;
}

.form-4 {
    max-width: 500px;
}

h3 {
    margin: 25px 0 15px;
    color: #1f222c;
    font: 700 1.8rem "Roboto";
}

table {
    width: 100%;
    border-spacing: 0;
    color: #1f222c;
    font: 400 1.4rem "Roboto";
}

.column2-1 {
    width: 32%;
}

.column2-2 {
    width: 68%;
}

.form-4 table td {
    padding: 7px 0;
}

.row-2 {
    max-width: 170px;
}

#file1 {
    display: none;
}

.file {
    display: block;
    box-sizing: border-box;
    padding: 13px;
    color: #fff;
    font: 700 1.4rem "Roboto";
    text-align: center;
    background-color: #3e6aff;
    border-radius: 3px;
    cursor: url(../img/cursor-pointer.png), auto;
}

.file:hover {
    box-shadow: 0px 2px 2.5px rgba(15, 40, 126, 0.35);
    background-color: #2857f4;
}

.form-4 .flex label {
    margin: 13px 0;
}

.form-5 {
    width: 680px;
}

.column3 {
    width: 32%;
}

.form-5 table {
    margin: 0 -5px;
}

.form-5 table td {
    padding: 8px 5px;
}

.form-5 .flex-between p {
    margin-right: 10px;
    width: 181px;
}

.form-5 hr {
    margin: 25px 10px 20px 0;
}

.form-5 .mb5,
.form-6 label {
    display: block;
    margin-bottom: 5px;
    color: #b3b3b3;
    font-size: 1.3rem;
}

.form-5 .sel:after {
    content: "";
    position: absolute;
    top: 13px;
    right: 36px;
    width: 0;
    height: 20px;
    border-left: 1px solid #ccc;
}

[type="reset"] {
    display: block;
    padding: 13px 25px;
    color: #6e6f77;
    font: 700 1.4rem "Roboto";
    text-align: center;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #85868d;
    border-radius: 3px;
}

[type="reset"]:hover {
    color: #fff;
    background-color: #85868d;
}

.fixed {
    position: fixed;
    top: 15%;
    right: 15%;
}

.f6xl {
    position: absolute;
    top: 55px;
    right: 10px;
    color: #b3b3b3;
    font: 400 3.0em Arial;
    transform: rotate(45deg);
}

.f6x:checked~.form-6,
.f6x:checked,
.f6x:checked~h2 {
    display: none;
}

.form-6 {
    padding: 15px 25px;
    max-width: 310px;
    background-color: #fafafa;
    border: 1px solid #e6e6e6;
    box-shadow: 0px 5px 6px rgba(0, 0, 0, 0.15);
    border-radius: 3px;
}

.form-6 p {
    margin-top: 15px;
    min-width: 260px;
}

.row-3 {
    padding: 9px 15px;
}

.form-6 .remember {
    color: #1f222c;
}

.form-6 a {
    color: #3e6aff;
    font-size: 1.3rem;
    text-decoration: none;
}

.form-6 a:hover {
    text-decoration: underline;
}