/* html {
    font-size: 10px;
} */

body {
    font-family: "Roboto", Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.wrapper {
    margin: 0 auto;
    max-width: 990px;
}

h1 {
    margin: 50px 0 0;
    color: #1f222c;
    font-weight: 700;
    font-size: 30px;
    font-family: "Roboto Slab";
    text-align: center;
}

h2 {
    margin: 0 0 30px;
    letter-spacing: 0px;
    color: #b3b3b3;
    font-weight: 700;
    font-size: 20px;
    font-family: "Roboto";
    text-transform: uppercase;
}

.form {
    padding: 50px 0;
}

hr {
    height: 1px;
    border: none;
    background-color: #dcdcde;
}

.column {
    max-width: 330px;
}

.flex {
    display: flex;
}

.flex-between {
    display: flex;
    justify-content: space-between;
    max-width: 680px;
}

.form-1 p,
.form-1 div {
    max-width: 330px;
}

.row {
    padding: 13px 15px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 3px;
}

select {
    border: 1px solid #ccc;
    border-radius: 3px;
}

form p {
    margin: 10px 0;
}

input,
select,
textarea {
    outline: none;
    box-sizing: border-box;
}

[type="text"]:focus,
textarea:focus,
select:focus,
[type="text"]:hover,
textarea:hover,
select:hover {
    background-color: #fff;
    border: 1px solid #3e6aff;
    border-radius: 3px;
    box-shadow: 0 0 2.5px rgba(62, 106, 255, 0.55);
}

textarea {
    vertical-align: bottom;
    resize: vertical;
    min-height: 130px;
    max-height: 400px;
}

[type="submit"] {
    font-size: 14px;
    color: #ffffff;
    font-weight: 700;
    font-family: "Roboto";
    text-align: center;
    background-color: #12d661;
    border: none;
}

.form-1 label,
textarea {
    color: #1f222c;
    font-weight: 400;
    font-size: 14px;
    font-family: "Roboto";
}

input {
    margin-top: 0;
    margin-bottom: 0;
}

::placeholder {
    color: #b3b3b3;
}

[type="checkbox"],
[type="radio"] {
    width: 16px;
    height: 16px;
}

[type="checkbox"]:focus {
    background-color: #fff;
}

.form-2 label,
.form-3 label {
    display: inline-block;
    margin: 0 10px;
}

input:disabled~label {
    color: #b3b3b3;
}

label {
    color: #1f222c;
    font-weight: 400;
    font-size: 14px;
    font-family: "Roboto";
}

select {
    padding: 11px 15px;
    appearance: none;
    -webkit-appearance: none;
}

/* label.select {
    position: relative;
}

label.select:after {
    content: "";
    position: absolute;
    top: 3px;
    right: 15px;
    border: 6px solid #1f222c;
    transform: rotate(45deg);
} */

option {
    padding: 13px 15px;
    color: #1f222c;
    font-weight: 400;
    font-size: 14px;
    font-family: "Roboto";
}

option:hover {
    background-color: #b3b3b3;
}

/* select:hover>option:first-child {
    display: none;
} */

.col-2 {
    min-width: 165px;
}

fieldset p {
    display: inline-block;
    padding-left: 10px;
    min-width: 70px;
    color: #b3b3b3;
    font-weight: 700;
    font-size: 14px;
    font-family: "Roboto";
}

fieldset {
    margin-left: 60px;
    padding: 15px 15px 20px;
    background-color: #f7f7f7;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
}

.sex label {
    color: #1f222c;
    font-weight: 700;
    font-size: 16px;
    font-family: "Roboto";
}